/* no logo; also, a great economy and politics book by naomi klein */
html.stealth-mode body #logo-container img,
html.stealth-mode body #logo-container span { display: none}

html.stealth-mode #body-container .appbar-hidden #masthead-positioner-height-offset {
    height: 60px;
}

html.stealth-mode .watch-stage-mode #theater-background {
    background-color: transparent;
}


/*ads*/
html.stealth-mode .watch7-sidebar-contents,
html.stealth-mode .watch7-sidebar-ads,
/* hide play icons */
html.stealth-mode .yt-uix-button-icon-wrapper
{ display: none !important }

/* player */
html.stealth-mode .html5-video-container { display: none }
html.stealth-mode #placeholder-player { display: none }
html.stealth-mode #player-api { height: 50px }
/* current video title */
html.stealth-mode #eow-title { display: none }
/* related links */
html.stealth-mode span.yt-uix-simple-thumb-wrap, html.stealth-mode span.yt-pl-thumb
{ visibility: hidden }
html.stealth-mode #watch-related.video-list span.title
{ font-size: 10px; }

body#stealth-popup {
  font-family: 'Open Sans', sans-serif;
  height: 100px;
  width: 400px;
}


/* popup css */

.pull-right {
  text-align: right
}
